@model EM.Elsukov.Web.Models.SearchModel

@{
    ViewBag.Title = "AllNotes";
}

<div align="center" class="row">

    @using (@Html.BeginForm("AllNotes", "Notes", FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.AntiForgeryToken();
        @Html.TextBoxFor(m => m.search, new { @class = "form-control adv-search", @placeholder = "Поиск" })
        <button type="button" onclick="AsyncGetNotes()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <div class="row">
            <button class="btn btn-default filter-button" data-filter="all">По дате</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">По названию</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">По автору</button>
        </div>
    }

    <div id="getNotes">
    </div>

</div>

<script>
    function AsyncGetNotes() {
        $.ajax({
            url: '@Url.Action("AllNotes", "Notes")',
            type: 'POST',
            cache: false,
            data: $("#searchForm").serializeArray(),
            success: function (result) {
                $("#getNotes").html(result)
            }
        });
    }
</script>