@model IEnumerable<EM.Elsukov.DB.Models.Note>

@{
    ViewBag.Title = "AllNotes";
}

<h2>AllNotes</h2>

<div class="notes">
    @foreach (var item in Model)
    {
        <div class="note">
            <div class="note-header">
                <span class="note-attachment glyphicon glyphicon-paperclip"></span>
                <div class="note-title">@Html.DisplayFor(modelItem => item.Title)</div>
            </div>
            <div class="note-labels">
                @{
                    var tags = item.Tags.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var tag in tags)
                    {
                        <span class="label label-info">@tag</span>
                    }
                }
            </div>
            <div class="note-info">
                <span class="text-center">@item.CreateDate.ToShortDateString()</span>
                @Html.ActionLink(item.User.Login, "null", null, new { @class = "text-center" })
            </div>
        </div>
                    }
</div>