@model EM.Elsukov.Web.Models.SearchModel

@{
    var listSorted = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "Сортировать", Value = null, Selected = true, Disabled = true },
        new SelectListItem() { Text = "по названию", Value = "Title" },
        new SelectListItem() { Text = "по авторам", Value = "Login" },
        new SelectListItem() { Text = "по дате", Value = "CreateDate" }
    };
}

@using (Html.BeginForm("GetMyNotes", "Notes", FormMethod.Post, new { id = "searchForm" }))
{
    @Html.AntiForgeryToken();

    <div class="input-group" id="adv-search">
        @Html.TextBoxFor(m => m.search, new { @class = "form-control", @placeholder = "Поиск", @oninput = "AsyncGetNotes()" })
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                @Html.DropDownListFor(x => x.sortBy, listSorted, new { @class = "btn btn-default", @onchanged = "AsyncGetNotes()" })
                <button type="button" onclick="AsyncGetNotes()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>

        </div>
    </div>
}